<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Reactions</h2>
    </div>
    <div class="col-lg-2 m-t-md">
        <% for i in 0..(@reactions.length-1)/2 %>
            <div>
                <input type="checkbox" id="reaction-<%= @reactions[i].name.downcase %>" class="reaction-checkbox" <%= 'checked' if @reactions[i].status %>>
                <h5 class="inline"><%= @reactions[i].name %><h5>
            </div>
        <% end %>
        <!-- <div>
            <input type="checkbox" id="reaction-love" class="reaction-checkbox" checked>
            <h5 class="inline">Love<h5>
        </div>
        <div>
            <input type="checkbox" id="reaction-haha" class="reaction-checkbox" checked>
            <h5 class="inline">Haha<h5>
        </div> -->
    </div>
    <div class="col-lg-2 m-t-md">
        <% for i in (@reactions.length)/2..(@reactions.length-1) %>
            <div>
                <input type="checkbox" id="reaction-<%= @reactions[i].name.downcase %>" class="reaction-checkbox" <%= 'checked' if @reactions[i].status %>>
                <h5 class="inline"><%= @reactions[i].name %><h5>
            </div>
        <% end %>
        <!-- <div>
            <input type="checkbox" id="reaction-wow" class="reaction-checkbox" checked>
            <h5 class="inline">Wow<h5>
        </div>
        <div>
            <input type="checkbox" id="reaction-sad" class="reaction-checkbox" checked>
            <h5 class="inline">Sad<h5>
        </div>
        <div>
            <input type="checkbox" id="reaction-angry" class="reaction-checkbox" checked>
            <h5 class="inline">Angry<h5>
        </div> -->
    </div>
    <div class="col-lg-8">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <% @reactions.each_with_index do |reaction, index| %>
                    <li class="<%= 'active' if index == 0 %>"><a data-toggle="tab" href="#tab-<%= index %>"> <i class="fa <%= @tab_icons[index] %>"></i></a></li>
                <% end %>
                <!-- <li class=""><a data-toggle="tab" href="#tab-2"> <i class="fa fa-heart"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-3"> <i class="fa fa-smile-o"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-hand-lizard-o"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-frown-o"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-meh-o"></i></a></li> -->
            </ul>
            <div class="tab-content">
                <% @reactions.each_with_index do |reaction, index| %>
                    <div id="tab-<%= index %>" class="tab-pane <%= 'active' if index == 0 %>">
                        <div class="panel-body">
                            <textarea class="form-control h-100"><%= reaction.get_hashtags_formatted() %></textarea>
                        </div>
                    </div>
                <% end %>
                <!-- <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                    </div>
                </div>
                <div id="tab-5" class="tab-pane">
                    <div class="panel-body">
                        <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                    </div>
                </div>
                <div id="tab-6" class="tab-pane">
                    <div class="panel-body">
                        <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="tabs-container">
            <div class="tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-2-1" aria-expanded="false"> <i class="fa fa-users"></i>Friends</a></li>
                    <li><a data-toggle="tab" href="#tab-2-2" aria-expanded="true"> <i class="fa fa-map"></i>Locations</a></li>
                    <li><a data-toggle="tab" href="#tab-2-3" aria-expanded="true"> <i class="fa fa-list"></i>Blacklist</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-2-1" class="tab-pane active">
                        <div class="panel-body">
                            <form action="" class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select name="" id="" class="chosen-select" placeholder="Select a Friend">
                                                <option value="-1">Select a Friend</option>
                                                <% @friends.each do |friend| %>
                                                    <option value="<%= friend.id %>"><%= friend.name %></option>
                                                <% end %>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Add Reaction To Friend</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <h4>Reactions</h4>
                                        <input type="checkbox" id="friend-reaction-like"> <label for="friend-reaction-like"> Like</label><br>
                                        <input type="checkbox" id="friend-reaction-love"> <label for="friend-reaction-love"> Love</label><br>
                                        <input type="checkbox" id="friend-reaction-haha"> <label for="friend-reaction-haha"> Haha</label><br>
                                        <input type="checkbox" id="friend-reaction-wow"> <label for="friend-reaction-wow"> Wow</label><br>
                                        <input type="checkbox" id="friend-reaction-sad"> <label for="friend-reaction-sad"> Sad</label><br>
                                        <input type="checkbox" id="friend-reaction-angry"> <label for="friend-reaction-angry"> Angry</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Friend</th>
                                                    <th>Hashtags</th>
                                                    <th>Reactions</th>
                                                    <th>Reacted</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><small>Caroline Pinheiro</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Caroline Pinheiro</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Caroline Pinheiro</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Caroline Pinheiro</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Caroline Pinheiro</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="tab-2-2" class="tab-pane">
                        <div class="panel-body">
                            <form action="" class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <select name="" id="" class="chosen-select" placeholder="Select a Friend">
                                                <option value="">Select a Location</option>
                                                <option value="">Natal/RN</option>
                                                <option value="">João Pessoa/PB<option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control h-100">#hashtag1, #hashtag2, #hashtag3, #hashtag4, #hashtag5, #hashtag6</textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Add Reaction To Location</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2">
                                        <h4>Reactions</h4>
                                        <input type="checkbox" id="friend-reaction-like"> <label for="friend-reaction-like"> Like</label><br>
                                        <input type="checkbox" id="friend-reaction-love"> <label for="friend-reaction-love"> Love</label><br>
                                        <input type="checkbox" id="friend-reaction-haha"> <label for="friend-reaction-haha"> Haha</label><br>
                                        <input type="checkbox" id="friend-reaction-wow"> <label for="friend-reaction-wow"> Wow</label><br>
                                        <input type="checkbox" id="friend-reaction-sad"> <label for="friend-reaction-sad"> Sad</label><br>
                                        <input type="checkbox" id="friend-reaction-angry"> <label for="friend-reaction-angry"> Angry</label>
                                    </div>
                                    <div class="col-lg-5">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Friend</th>
                                                    <th>Hashtags</th>
                                                    <th>Reactions</th>
                                                    <th>Reacted</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><small>Natal/RN</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Natal/RN</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Natal/RN</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Natal/RN</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                                <tr>
                                                    <td><small>Natal/RN</small></td>
                                                    <td>#hashtag1, #hashtag2</td>
                                                    <td>Like, Love</td>
                                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 333 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="tab-2-3" class="tab-pane">
                    <div class="panel-body">
                        <form action="" class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select name="" id="" class="chosen-select" placeholder="Select a Friend">
                                            <option value="">Select a Friend</option>
                                            <option value="">Caroline Pinheiro</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary">Add Friend To Reaction Blacklist</button>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Friend</th>
                                                <th>Blocked Since</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><small>Caroline Pinheiro</small></td>
                                                <td>10/10/2016</td>
                                            </tr>
                                            <tr>
                                                <td><small>Caroline Pinheiro</small></td>
                                                <td>10/10/2016</td>
                                            </tr>
                                            <tr>
                                                <td><small>Caroline Pinheiro</small></td>
                                                <td>10/10/2016</td>
                                            </tr>
                                            <tr>
                                                <td><small>Caroline Pinheiro</small></td>
                                                <td>10/10/2016</td>
                                            </tr>
                                            <tr>
                                                <td><small>Caroline Pinheiro</small></td>
                                                <td>10/10/2016</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= content_for :javascript do %>
<script>
    var reactionLike = new Switchery($('#reaction-like')[0], { color: '#1AB394' });
    var reactionLove = new Switchery($('#reaction-love')[0], { color: '#1AB394' });
    var reactionHaha = new Switchery($('#reaction-haha')[0], { color: '#1AB394' });
    var reactionWow = new Switchery($('#reaction-wow')[0], { color: '#1AB394' });
    var reactionSad = new Switchery($('#reaction-sad')[0], { color: '#1AB394' });
    var reactionAngry = new Switchery($('#reaction-angry')[0], { color: '#1AB394' });
</script>
<% end %>
